@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}


@media (max-width: 767px) {
  .hobbies-card-main {
    margin: 20px;
    row-gap: 20px;
    padding: 10px 0px 50px 0px;
  }
  .hobbies-card {
    width: 100%;
    justify-content: space-around;
  }
}
/* responsive css */
@media (max-width: 714px) {
  .nav {
    justify-content: center;
    margin-bottom: -219px;
  }

  .nav-link ul {
    row-gap: 10px;
    padding: 0px;
    justify-content: center;
  }

  .main-div {
    padding-top: 0px;
  }
  .div-para {
    text-align: center;
  }

  .about-main-div {
    padding-top: 119px;
  }
  .form-main-div {
    padding-top: 119px;
  }

  .form-div {
    width: 75%;
  }

  .resume-main-div {
    padding-top: 119px;
  }

  .skills-div {
    justify-content: center;
    row-gap: 30px;
    padding-bottom: 55px;
    margin-left: 0px;
  }
  .skill-div {
    width: 100%;
    margin: 0px 20px 0px 20px;
  }

  .portfolio-main-div {
    padding-top: 119px;
  }
  .cards-main-div {
    padding-bottom: 60px;
  }
  .card-div {
    width: 100%;
    margin: 0px 30px;
  }
}

/* @media(max-width:550px){
  .form-div{
    width: 75%;
  }
} */

@media (max-width: 372px) {
  .div-headingone {
    font-size: 30px;
  }

  .div-headingtwo {
    font-size: 26px;
  }

  .div-para {
    font-size: 20px;
    padding: 10px 0px 7px 0px;
    text-align: center;
  }

  .div-btn {
    justify-content: center;
    row-gap: 20px;
  }
}
